doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/assets/styles/app.css')
  body
    block content
      
    // build:js assets/scripts/vendor.min.js
    // bower:js
    script(src='../../assets/components/jquery/dist/jquery.js')
    // endbower
    // endbuild

    block js
      script(src='/assets/scripts/app.bundle.js')
